DATABASE_URL="postgresql://cocode:cocode2024@localhost:5432/cocode?schema=public"

PORT=3001
CLIENT_URL="http://localhost:5173"

STUN_SERVERS='["stun:stun.l.google.com:19302","stun:stun1.l.google.com:19302","stun:stun2.l.google.com:19302"]'

TURN_ENABLED=true
TURN_URL="turn:localhost:3478"
TURN_USERNAME="cocode"
TURN_PASSWORD="cocode2024"

AUTO_SAVE_INTERVAL="*/5 * * * *"
